# i3 - apps.config

# Autostart
exec --no-startup-id $TERMINAL --class terminal_scratchpad
exec --no-startup-id blueman-applet
exec --no-startup-id nm-applet

# App bind
# bindsym --release $mod+d exec --no-startup-id i3-dmenu-desktop
bindsym --release $mod+Return exec --no-startup-id $TERMINAL
bindsym --release $mod+d exec --no-startup-id dmenu_run
bindsym --release $mod+w exec $BROWSER
bindsym --release $mod+Shift+w exec $PRIVATE_BROWSER
bindsym --release $mod+x exec --no-startup-id xkill
bindsym --release Print exec --no-startup-id $SCREENSHOT
bindsym --release $mod+p exec $PDFREADER
bindsym --release $mod+Shift+v exec pavucontrol
bindsym --release $mod+Shift+b exec --no-startup-id blueman-manager
