# i3 - mode.config

# Mouse
set $mode_mouse Mouse mode

mode "$mode_mouse"{
    bindsym h exec --no-startup-id xdotool mousemove_relative -- -15 0
    bindsym j exec --no-startup-id xdotool mousemove_relative 0 15
    bindsym k exec --no-startup-id xdotool mousemove_relative -- 0 -15
    bindsym l exec --no-startup-id xdotool mousemove_relative 15 0

    bindsym Shift+h exec --no-startup-id xdotool mousemove_relative -- -30 0
    bindsym Shift+j exec --no-startup-id xdotool mousemove_relative 0 30
    bindsym Shift+k exec --no-startup-id xdotool mousemove_relative -- 0 -30
    bindsym Shift+l exec --no-startup-id xdotool mousemove_relative 30 0

    bindsym space exec --no-startup-id xdotool click 1

    bindsym Escape mode "default"
    bindsym $mod+m mode "default"
}

bindsym $mod+m mode $mode_mouse

# Scratchpad
set $mode_scratch scratchpad

mode "$mode_scratch" {
  bindsym $mod+s scratchpad show; mode default
  bindsym $mod+q scratchpad show; mode default
}

bindsym $mod+s mode "$mode_scratch"; scratchpad show

# Resize
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        bindsym k resize grow width 10 px or 10 ppt; resize grow height 10 px or 10 ppt
        bindsym j resize shrink width 10 px or 10 ppt; resize shrink height 10 px or 10 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

# System
set $mode_system (l)ock, (s)uspend (r)eboot, (Shift+s)hutdown

mode "$mode_system" {
    bindsym l exec --no-startup-id $XDG_CONFIG_HOME/i3lock/lock.sh, mode "default"
    bindsym s exec --no-startup-id systemctl suspend, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Shift+s exec --no-startup-id systemctl poweroff, mode "default"

    # exit system mode: "Enter" or "Escape"
    bindsym Escape mode "default"
}

bindsym Control+Mod1+Delete mode "$mode_system"
