# i3 - apps.config

# Autostart
# exec --no-startup-id blueman-applet
# exec --no-startup-id nm-applet
exec --no-startup-id pgrep -f 'terminal_scratchpad' || $TERMINAL --class 'terminal_scratchpad'
exec --no-startup-id pgrep picom || picom -b
exec --no-startup-id pgrep clipit || clipit --daemon
exec --no-startup-id pgrep unclutter || unclutter

# App bind
# bindsym --release $mod+d exec --no-startup-id i3-dmenu-desktop
bindsym --release $mod+Return exec --no-startup-id $TERMINAL
bindsym --release $mod+d exec --no-startup-id dmenu_run
bindsym --release $mod+w exec --no-startup-id $BROWSER
bindsym --release $mod+Shift+w exec --no-startup-id $PRIVATE_BROWSER
bindsym --release $mod+x exec --no-startup-id xkill
bindsym --release Print exec --no-startup-id $SCREENSHOT
bindsym --release $mod+p exec --no-startup-id $PDFREADER
bindsym --release $mod+Shift+v exec --no-startup-id pavucontrol
bindsym --release $mod+Shift+b exec --no-startup-id blueman-manager
bindsym --release $mod+m exec --no-startup-id pgrep -x neomutt || $TERMINAL -o 'background_opacity=1.0' -e 'neomutt'
bindsym --release $mod+n exec --no-startup-id pgrep -x newsboat || $TERMINAL -o 'background_opacity=1.0' -e 'newsboat'
bindsym --release $mod+e exec --no-startup-id $TERMINAL -e 'lf'
bindsym --release $mod+s exec --no-startup-id (pgrep -f 'terminal_scratchpad' && i3-msg 'scratchpad show') || $TERMINAL --class 'terminal_scratchpad'
