# i3 - bind.config

# Toggle sticky window
bindsym $mod+Shift+s sticky toggle
# Toggle bar
bindsym $mod+b bar mode toggle
# Toggle keyboard layout
bindsym $mod+F1 exec --no-startup-id notify-send 'Keyboard Layout' $(toggle-layout)
# Toggle Dmenu options script
bindsym $mod+Shift+d exec --no-startup-id "dmenu-options"
# Toggle lockscreen
bindsym XF86PowerOff exec --no-startup-id lock_suspend
# Audio control
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5% && dunstify -h string:x-dunst-stack-tag:volume "Volume: $(pamixer --get-volume)%"
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5% && dunstify -h string:x-dunst-stack-tag:volume "Volume: $(pamixer --get-volume)%"
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && dunstify -h string:x-dunst-stack-tag:volume 'Volume toggle'
# Brighness control
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 10 && dunstify -h string:x-dunst-stack-tag:brightness "Brightness: $(printf '%.0f' $(xbacklight -get))%"
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 10 && dunstify -h string:x-dunst-stack-tag:brightness "Brightness: $(printf '%.0f' $(xbacklight -get))%"
# Kill window
bindsym --release $mod+q exec --no-startup-id i3-kill-wrapper
# Navigation
bindsym $mod+j focus left
bindsym $mod+k focus right
bindsym $mod+l focus up
bindsym $mod+h focus down
# Move windows
bindsym $mod+Shift+h move left 30 px
bindsym $mod+Shift+j move down 30 px
bindsym $mod+Shift+k move up 30 px
bindsym $mod+Shift+l move right 30 px
bindsym $mod+period split h
bindsym $mod+comma split v
# fullscreen
bindsym $mod+f fullscreen toggle
# Toggle window layout
bindsym $mod+r layout toggle split
# Toggle flaoting
bindsym $mod+Shift+space exec --no-startup-id i3-auto-float
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent
bindsym $mod+c focus child
# Change workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
# bindsym $mod+0 workspace $ws10
# Move to other workspace
bindsym $mod+Shift+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9; workspace $ws9
# bindsym $mod+Shift+0 move container to workspace $ws10; workspace $ws10
# Resize window
bindsym $mod+i resize grow height 10 px or 10 ppt;
bindsym $mod+u resize shrink height 10 px or 10 ppt;
bindsym $mod+o resize grow width 10 px or 10 ppt;
bindsym $mod+y resize shrink width 10 px or 10 ppt;
# --
bindsym $mod+Shift+i resize grow height 30 px or 30 ppt;
bindsym $mod+Shift+u resize shrink height 30 px or 30 ppt;
bindsym $mod+Shift+o resize grow width 30 px or 30 ppt;
bindsym $mod+Shift+y resize shrink width 30 px or 30 ppt;
# Reload config
bindsym --release $mod+Shift+r exec --no-startup-id i3-modular-config && i3-msg 'reload' && notify-send 'i3' 'Reloaded config'

# Quit i3
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"
