# i3 config file (v4)

# Super key
set $mod Mod4

# Custom
# floating_minimum_size 250 x 250
# floating_maximum_size 960 x 540
hide_edge_borders smart
default_floating_border pixel
default_border pixel
focus_follows_mouse no
focus_wrapping no
font pango:Noto Sans 10
default_border pixel 5
default_floating_border normal
floating_modifier $mod

for_window [instance="terminal_scratchpad"] move scratchpad 
assign [class="Eclipse"] 3
assign [class="Java"] 3
assign [class="jetbrains-idea-ce"] 3

# Workspaces
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
